<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 全局功能配置 -->
	<settings>
		<!-- 指定日志厂商为LOG4J -->
		<setting name="logImpl" value="LOG4J"/>
		<!-- 延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>

	</settings>
	
	<!-- 给类起别名 -->
	<typeAliases>
		<!-- 该包下的别名默认为类名 -->
		<package name="com.qf.model"/>
	</typeAliases>
	
</configuration>